body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: darkgreen;
    color: white;
    font-weight: bold;
}

h1 {
    color: rgb(220, 173, 54);
    text-shadow: 2px 2px 5px black;
}

#messageEl {
    font-style: italic;
}

.start-game-btn {
    background: rgb(220, 173, 54);
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    color: #016f32;
    margin: 3px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}